In [18]:
from pyspark import SparkConf
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [2]:
spark = SparkSession.builder.master("local[*]").appName("Dataframe - withColumn").getOrCreate()

In [3]:
print(spark)

<pyspark.sql.session.SparkSession object at 0x7f3198886c10>

In [4]:
spark

In [5]:
df = (
    spark.read
    .format("csv")
    .option("header", "true")
    .option("delimiter", ",")
    .option("infeSchema", "true")
    .load("csv/AnnualTicketSales.csv")
     )

In [6]:
df.show()

+----+--------------+----------------+-----------------------------------+--------------------+----+
|YEAR|  TICKETS SOLD|TOTAL BOX OFFICE|TOTAL INFLATION ADJUSTED BOX OFFICE|AVERAGE TICKET PRICE| _c5|
+----+--------------+----------------+-----------------------------------+--------------------+----+
|2021|  42,37,74,881|  $3,881,777,912|                     $3,881,777,912|               $9.16|null|
|2020|  22,36,38,958|  $2,048,534,616|                     $2,048,534,616|               $9.16|null|
|2019|1,22,85,41,629| $11,253,443,955|                    $11,253,444,050|               $9.16|null|
|2018|1,31,15,36,128| $11,948,096,650|                    $12,013,670,952|               $9.11|null|
|2017|1,22,56,39,761| $10,993,991,460|                    $11,226,860,216|               $8.97|null|
|2016|1,30,25,56,378| $11,267,115,924|                    $11,931,416,424|               $8.65|null|
|2015|1,32,33,56,776| $11,155,900,636|                    $12,121,948,075|               $8.43|null|
|2014|1,25,74,02,920| $10,272,985,008|                    $11,517,810,744|               $8.17|null|
|2013|1,33,91,68,926| $10,887,446,341|                    $12,266,787,382|               $8.13|null|
|2012|1,38,09,21,942| $10,992,141,616|                    $12,649,244,986|               $7.96|null|
|2011|1,28,29,15,168| $10,173,519,704|                    $11,751,502,955|               $7.93|null|
|2010|1,32,85,49,021| $10,482,254,025|                    $12,169,509,032|               $7.89|null|
|2009|1,41,85,67,388| $10,639,257,284|                    $12,994,051,137|               $7.50|null|
|2008|1,35,80,42,073|  $9,750,744,148|                    $12,439,665,380|               $7.18|null|
|2007|1,42,00,36,680|  $9,769,854,914|                    $13,007,535,993|               $6.88|null|
|2006|1,39,87,38,283|  $9,161,738,221|                    $12,812,442,671|               $6.55|null|
|2005|1,37,29,80,280|  $8,800,805,718|                    $12,576,499,367|               $6.41|null|
|2004|1,49,56,51,298|  $9,287,996,519|                    $13,700,165,883|               $6.21|null|
|2003|1,52,45,89,620|  $9,193,277,289|                    $13,965,240,914|               $6.03|null|
|2002|1,57,57,56,527|  $9,155,147,215|                    $14,433,929,789|               $5.81|null|
+----+--------------+----------------+-----------------------------------+--------------------+----+
only showing top 20 rows

22/01/07 19:16:40 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: YEAR, TICKETS SOLD, TOTAL BOX OFFICE, TOTAL INFLATION ADJUSTED BOX OFFICE, AVERAGE TICKET PRICE,
 Schema: YEAR, TICKETS SOLD, TOTAL BOX OFFICE, TOTAL INFLATION ADJUSTED BOX OFFICE, AVERAGE TICKET PRICE, _c5
Expected: _c5 but found:
CSV file: file:///home/ricardo/Documentos/Spark/csv/AnnualTicketSales.csv

In [7]:
df = df.drop("_c5")

In [8]:
df.show()

+----+--------------+----------------+-----------------------------------+--------------------+
|YEAR|  TICKETS SOLD|TOTAL BOX OFFICE|TOTAL INFLATION ADJUSTED BOX OFFICE|AVERAGE TICKET PRICE|
+----+--------------+----------------+-----------------------------------+--------------------+
|2021|  42,37,74,881|  $3,881,777,912|                     $3,881,777,912|               $9.16|
|2020|  22,36,38,958|  $2,048,534,616|                     $2,048,534,616|               $9.16|
|2019|1,22,85,41,629| $11,253,443,955|                    $11,253,444,050|               $9.16|
|2018|1,31,15,36,128| $11,948,096,650|                    $12,013,670,952|               $9.11|
|2017|1,22,56,39,761| $10,993,991,460|                    $11,226,860,216|               $8.97|
|2016|1,30,25,56,378| $11,267,115,924|                    $11,931,416,424|               $8.65|
|2015|1,32,33,56,776| $11,155,900,636|                    $12,121,948,075|               $8.43|
|2014|1,25,74,02,920| $10,272,985,008|                    $11,517,810,744|               $8.17|
|2013|1,33,91,68,926| $10,887,446,341|                    $12,266,787,382|               $8.13|
|2012|1,38,09,21,942| $10,992,141,616|                    $12,649,244,986|               $7.96|
|2011|1,28,29,15,168| $10,173,519,704|                    $11,751,502,955|               $7.93|
|2010|1,32,85,49,021| $10,482,254,025|                    $12,169,509,032|               $7.89|
|2009|1,41,85,67,388| $10,639,257,284|                    $12,994,051,137|               $7.50|
|2008|1,35,80,42,073|  $9,750,744,148|                    $12,439,665,380|               $7.18|
|2007|1,42,00,36,680|  $9,769,854,914|                    $13,007,535,993|               $6.88|
|2006|1,39,87,38,283|  $9,161,738,221|                    $12,812,442,671|               $6.55|
|2005|1,37,29,80,280|  $8,800,805,718|                    $12,576,499,367|               $6.41|
|2004|1,49,56,51,298|  $9,287,996,519|                    $13,700,165,883|               $6.21|
|2003|1,52,45,89,620|  $9,193,277,289|                    $13,965,240,914|               $6.03|
|2002|1,57,57,56,527|  $9,155,147,215|                    $14,433,929,789|               $5.81|
+----+--------------+----------------+-----------------------------------+--------------------+
only showing top 20 rows

In [9]:
df = df.withColumn("TICKETS SOLD", F.regexp_replace("TICKETS SOLD", "\,", ""))

In [10]:
df = df.withColumn("TOTAL BOX OFFICE", F.regexp_replace("TOTAL BOX OFFICE", "\$", ""))

In [11]:
df = df.withColumn("TOTAL BOX OFFICE", F.regexp_replace("TOTAL BOX OFFICE", "\,", ""))

In [12]:
df = df.withColumn("TOTAL INFLATION ADJUSTED BOX OFFICE", F.regexp_replace("TOTAL INFLATION ADJUSTED BOX OFFICE", "\$", ""))

In [13]:
df = df.withColumn("TOTAL INFLATION ADJUSTED BOX OFFICE", F.regexp_replace("TOTAL INFLATION ADJUSTED BOX OFFICE", "\,", ""))

In [14]:
df = df.withColumn("AVERAGE TICKET PRICE", F.regexp_replace("AVERAGE TICKET PRICE", "\$", ""))

In [15]:
df = df.select(df["YEAR"].alias("Ano"),
            df["TICKETS SOLD"].cast("float").alias("Tickets_Vendidos"),
            df["TOTAL BOX OFFICE"].cast("float").alias("Total_deCaixa"),
            df["TOTAL INFLATION ADJUSTED BOX OFFICE"].cast("float").alias("Total_deCaixa_Ajust_Inflacao"),
            df["AVERAGE TICKET PRICE"].cast("float").alias("Preco_Medio_Ticket") )

In [20]:
df.printSchema()

root
 |-- Ano: string (nullable = true)
 |-- Tickets_Vendidos: float (nullable = true)
 |-- Total_deCaixa: float (nullable = true)
 |-- Total_deCaixa_Ajust_Inflacao: float (nullable = true)
 |-- Preco_Medio_Ticket: float (nullable = true)

In [93]:
df.select(F.col("Total_deCaixa"),F.col("Total_deCaixa_Ajust_Inflacao")).filter(F.col("Total_deCaixa") > "1.E8").show(10)

+-------------+----------------------------+
|Total_deCaixa|Total_deCaixa_Ajust_Inflacao|
+-------------+----------------------------+
| 3.88177792E9|                3.88177792E9|
| 2.04853466E9|                2.04853466E9|
|1.12534436E10|               1.12534436E10|
|1.19480965E10|               1.20136714E10|
|1.09939917E10|               1.12268605E10|
| 1.1267116E10|               1.19314166E10|
|1.11559004E10|               1.21219482E10|
|1.02729851E10|               1.15178107E10|
|1.08874465E10|               1.22667878E10|
|1.09921413E10|               1.26492447E10|
+-------------+----------------------------+
only showing top 10 rows

In [104]:
df2 = df.withColumn("diferenca_inflacao", (F.col("Total_deCaixa_Ajust_Inflacao")) - (F.col("Total_deCaixa")))

In [105]:
df2.show()

+----+----------------+-------------+----------------------------+------------------+------------------+
| Ano|Tickets_Vendidos|Total_deCaixa|Total_deCaixa_Ajust_Inflacao|Preco_Medio_Ticket|diferenca_inflacao|
+----+----------------+-------------+----------------------------+------------------+------------------+
|2021|     4.2377488E8| 3.88177792E9|                3.88177792E9|              9.16|               0.0|
|2020|     2.2363896E8| 2.04853466E9|                2.04853466E9|              9.16|               0.0|
|2019|    1.22854157E9|1.12534436E10|               1.12534436E10|              9.16|               0.0|
|2018|    1.31153613E9|1.19480965E10|               1.20136714E10|              9.11|       6.5574912E7|
|2017|    1.22563981E9|1.09939917E10|               1.12268605E10|              8.97|      2.32868864E8|
|2016|    1.30255642E9| 1.1267116E10|               1.19314166E10|              8.65|       6.6430054E8|
|2015|     1.3233568E9|1.11559004E10|               1.21219482E10|              8.43|       9.6604774E8|
|2014|    1.25740288E9|1.02729851E10|               1.15178107E10|              8.17|       1.2448256E9|
|2013|     1.3391689E9|1.08874465E10|               1.22667878E10|              8.13|      1.37934131E9|
|2012|    1.38092198E9|1.09921413E10|               1.26492447E10|              7.96|      1.65710336E9|
|2011|     1.2829152E9|1.01735199E10|               1.17515028E10|              7.93|      1.57798298E9|
|2010|    1.32854899E9|1.04822538E10|               1.21695089E10|              7.89|      1.68725504E9|
|2009|    1.41856742E9|1.06392576E10|               1.29940511E10|               7.5|      2.35479347E9|
|2008|    1.35804211E9|  9.7507441E9|               1.24396657E10|              7.18|       2.6889216E9|
|2007|    1.42003674E9|   9.769855E9|               1.30075361E10|              6.88|      3.23768115E9|
|2006|     1.3987383E9|  9.1617382E9|               1.28124426E10|              6.55|      3.65070438E9|
|2005|    1.37298022E9|  8.8008059E9|               1.25764997E10|              6.41|      3.77569382E9|
|2004|    1.49565133E9|  9.2879964E9|               1.37001656E10|              6.21|       4.4121692E9|
|2003|    1.52458957E9|  9.1932774E9|               1.39652413E10|              6.03|       4.7719639E9|
|2002|    1.57575654E9|  9.1551468E9|               1.44339302E10|              5.81|       5.2787835E9|
+----+----------------+-------------+----------------------------+------------------+------------------+
only showing top 20 rows